.DS_Store
*.iml
change-output.md
/.nyc_output/
/.vscode/
/node_modules/
/npm-debug.log
before_commit
/coverage/
.idea/
/dist/fabric.require.js
/dist/fabric.min.js.gz
/dist/fabric.d.ts
/dist/fabric.d.ts.map
/dist/fabric.min.d.ts
/dist/fabric.min.d.ts.map
/dist/fabric.js
/dist/fabric.min.js
/scripts/cli_cache.json
